@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;700;800&display=swap");

* {
  font-family: "Mulish", sans-serif;
}

.f-size-40 {
  font-size: 40px;
}

pre {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #f8f9fa;
  border-radius: 0.3rem;
  padding: 1rem;
  overflow: auto;
}

#preview-article img {
  max-width: 100%;
}

img {
  max-width: 100%;
}

.black-border {
  border: 1px solid black;
}

.white-border {
  border: 1px solid white;
}

.gray-color {
  color: #6b7280;
}

.bg-gray {
  background-color: #f3f4f6;
}

.hover-underline-blue:hover {
  text-decoration: 2px underline #049fff;
  transition: text-decoration 300ms;
}

@media (max-width: 770px) {
  .p-40 {
    padding: 20px !important;
  }

  .f-size-70 {
    font-size: 30px !important;
  }

  .grid-c-3 {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}