@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;700;800&display=swap");

* {
  font-family: "Mulish", sans-serif;
}

.f-size-40 {
  font-size: 40px;
}

pre {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #f8f9fa;
  border-radius: 0.3rem;
  padding: 1rem;
  overflow: auto;
}

#preview-article img {
  max-width: 100%;
}

img {
  max-width: 100%;
}

.black-border {
  border: 1px solid black;
}

.gray-border {
  border: 1px solid #6b7280;
}

.white-border {
  border: 1px solid white;
}

.gray-color {
  color: #6b7280;
}

.bg-gray {
  background-color: #f3f4f6;
}

.hover-underline-blue:hover {
  text-decoration: 2px underline #049fff;
  transition: text-decoration 300ms;
}

/* BLOG */
#blog-content {
  padding: 40px;
  max-width: 800px;
}

@media (max-width: 770px) {
  .column-in-mobile {
    flex-direction: column;
  }

  .p-40 {
    padding: 20px !important;
  }

  .f-size-70 {
    font-size: 30px !important;
  }

  .grid-c-3 {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .grid-c-2-mobile {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  #blog-content {
    padding: 20px;
    max-width: -webkit-fill-available;
  }

  .f-size-18 {
    font-size: 14px !important;
  }

  .f-size-14 {
    font-size: 12px !important;
  }
}


/* LOVE GAME */
/* app/globals.css */
.container {
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  text-align: center;
  background-color: #f0f0f0;
  background-image: url('/img/bg/love.JPG');
}

.container h1 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.container button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #FE7578;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.container button:hover {
  background-color: #FE4C4F;
}

.container img,
video {
  max-width: 100%;
  height: auto;
}



h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #0070f3;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #005bb5;
}

.card {
  background: #fff;
  border-radius: 18px;
  box-shadow: 0 4px 16px rgba(60, 60, 60, 0.10);
  padding: 24px;
  /* max-width: 340px; */
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.card-img {
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 18px;
}